body {
  --gunmetal-color: #022b3a;
  --darkblue-color: #4361ee;
  --cta-color: #1f7a8c;
  --accent-color: #bfdbf7;
  --accenter-color: #e1e5f2;
  --hover-color: #f0f2f9;
  --off-white-color: #fcfcfe;
}

.body {
  display: flex;
  margin: 1em;
}

.left {
  flex-grow: 1;
}

.middle {
  flex-grow: 6;
}

.right {
  flex-grow: 1;
}
