.app {
  height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
}

body {
  --gunmetal-color: #022b3a;
  --darkblue-color: #4361ee;
  --cta-color: #1f7a8c;
  --accent-color: #bfdbf7;
  --accenter-color: #e1e5f2;
  --hover-color: #f0f2f9;
  --off-white-color: #fcfcfe;
}

.body {
  display: flex;
  height: 100%;
}

.left {
  flex: 0.25;
  min-width: 250px;
}

.middle {
  flex: 0.5;
}

.right {
  flex: 0.25;
}
